.create-listing-img-upload{
    cursor: pointer;
}
.create-listing{
    padding-top: 40px ;
}
.create-listing-form-group{
    margin-left:  120px;
    display: flex;
    align-items: center;

}
.upload-icon{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(106, 153, 60);
}
.create-listing-text{
    line-height: 18px;
    width: 50vw;
    height: 30px;
    border: none;
    font-size: 16px;
    padding: 1px;
}
.create-listing-desc{
    margin-top: 20px;
    height: 60px;
}
.create-listing-button{
    margin: 20px 0px 20px 9%;
    padding: auto;
    width: 50vw;
    height: 40px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}